<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  
  </head>
  <body>
      <div class="login-main">
            <div class="login-header">
                <img src="/images/login-logo.jpg" alt="">
            </div>
            <div class="login-wrap">
                <div class="wrap-logo">
                    <img src="images/ecshop-logo.jpg" alt="">
                </div>
                <div class="wrap-login">
                    <div class="login-window">
                        <h3 class="line-top"></h3>
                        <div class="first ipt">
                            <span class="iconf"><img src="/images/1.png" alt=""></span>
                            <input type="text" id="userName" placeholder="用户名">
                        </div>
                        <div class="two ipt">
                            <span class="iconf"><img src="/images/2.png" alt=""></span>
                            <input type="text" id="psw" placeholder="密码">
                        </div>
                        <div class="third ipt">
                            <span class="iconf"><img src="/images/3.png" alt=""></span>
                            <input type="text" id="userName" placeholder="验证码">
                        </div>
                        <div class="last" onclick="login()">
                                <!-- <button type="button" onclick="login()">登陆</button> -->
                            <span class="btn">登陆</span>
                        </div>
                        <h5 class="other">
                            <input type="checkbox" id="remeber" >
                            <label for="remeber">保存登陆信息</label>
                            <a class="fg" href="">忘记密码？</a>
                            <a class="goIndex" href="">去店铺首页>></a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="login-bottom"></div>
        </div>
  </body>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    function login(){
        $.ajax({
            url:"/loginAjax",
            type:"post",
            data:{
                userName:$("#userName").val(),
                psw:$("#psw").val()
            },
            success:function(res){
                console.log(res)
                if(res.code==1){
                    location.href="/list?r="+new Date().getTime();
                }else{
                    alert(res.message)
                }
            }
        })
    }
  </script>
</html>